<?xml version="1.0"?>
<config>
	<modules>
		<Softvar_Api>
			<version>0.1.7</version>
		</Softvar_Api>
	</modules>
	<global>
		<blocks>
			<softvar>
				<class>Softvar_Api_Block</class>
			</softvar>
		</blocks>
		<models>
			<softvar>
				<class>Softvar_Api_Model</class>
			</softvar>
		</models>
		<resources>
			<softvar_setup>
				<setup>
					<module>Softvar_Api</module>
					<class>Softvar_Api_Model_Resource_Setup</class>
				</setup>
			</softvar_setup>
			<softvar_write>
				<connection>
					<use>core_write</use>
				</connection>
			</softvar_write>
			<softvar_read>
				<connection>
					<use>core_read</use>
				</connection>
			</softvar_read>
		</resources>
		<helpers>
			<softvar>
				<class>Softvar_Api_Helper</class>
			</softvar>
		</helpers>
	</global>
	<frontend>
		<routers>
			<softvar>
				<use>standard</use>
				<args>
					<module>Softvar_Api</module>
					<frontName>softvar</frontName>
				</args>
			</softvar>
		</routers>
	</frontend>
	<admin>
		<routers>
			<softvar>
				<use>admin</use>
				<args>
					<module>Softvar_Api</module>
					<frontName>softvar</frontName>
				</args>
			</softvar>
		</routers>
	</admin>
	<default>
		<softvar_section>
			<softvar_street>
				<rua>1</rua>
				<numero>2</numero>
				<complemento>3</complemento>
				<bairro>4</bairro>
			</softvar_street>
		</softvar_section>
	</default>
</config>
